:root {
  --min-width: 18.75rem;
  --max-width: 67.5rem;

  --background-menu: rgba(67, 55, 48, 0.3);
  --background-brown-light: rgba(147, 105, 80, 0.15);

  --valhalla-gradient: linear-gradient(
    85deg,
    hsl(1deg 94% 75%) 0%,
    hsl(15deg 98% 77%) 17%,
    hsl(25deg 97% 82%) 33%,
    hsl(34deg 100% 89%) 50%,
    hsl(102deg 37% 77%) 67%,
    hsl(176deg 48% 61%) 83%,
    hsl(199deg 70% 58%) 100%
  );

  --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: #fef5f1;
}

:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #1d1815;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  color: var(--mantine-color-brown-5);

  &:hover {
    text-decoration: none;
  }
}

/* Headers + Text ----- */

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  margin-bottom: var(--mantine-spacing-md);
}

.title {
  font-size: var(--mantine-h1-font-size);
  font-weight: var(--mantine-h1-font-weight);
  margin-block: 0.5em 0.7em;
}

.sub-title {
  font-size: var(--mantine-h2-font-size);
  font-weight: var(--mantine-h2-font-weight);
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, rgba(255, 231, 197, 0.9), rgba(255, 130, 129), rgba(255, 199, 152, 0));
  border-image-slice: 1;
  margin-block: 0.85em;
}

/* Page Layout ----- */

.max-content-width {
  max-width: var(--max-width);
}

.page-container {
  display: flex;
  flex: 1 0 auto;
  margin: 0 auto;
}

.main {
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl) calc(var(--mantine-spacing-xl) * 3);
}

.error {
  &-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &-title {
    font-size: var(--mantine-h2-font-size);
    font-weight: var(--mantine-h2-font-weight);
    color: var(--mantine-color-custom-0);
    margin-block: 0.85em;
  }

  &-text{
    color: var(--mantine-color-gray-7);
  }

  &-button {
    margin-block: var(--mantine-spacing-md);
  }
}