/* Accordian ----- */

.accitem {
  background-color: light-dark(var(--mantine-color-brown-0), var(--mantine-color-custom-9));
  border: light-dark(1px solid var(--mantine-color-brown-3), 1px solid var(--mantine-color-brown-7));
}

/* Paper ----- */

.paperroot {
  border: light-dark(1px solid var(--mantine-color-brown-3), 1px solid var(--mantine-color-brown-7));
}

/* TextInput ----- */

.textinput {
  transition: none;
  background-color: light-dark(var(--mantine-color-brown-0), var(--mantine-color-custom-9));
  border: light-dark(1px solid var(--mantine-color-brown-3), 1px solid var(--mantine-color-brown-7));

  &:focus-within {
    outline: 1px solid var(--mantine-color-custom-7);
    border-color: transparent;
  }
}