/* Button -----*/

.btnroot {
  box-shadow: var(--input-shadow);
}

/* Drawer ----- */

.drawheader {
  background: light-dark(
    "#fff",
    var(--mantine-color-brown-6)
  );
}

.drawtitle {
  font-family: var(--font-handwritten);
}

/* Input and variants ----- */

.input {
  transition: none;
  box-shadow: var(--input-shadow);

  &:focus-within {
    outline: 1px solid light-dark(
      var(--mantine-color-brown-4),
      var(--mantine-color-brown-9)
    );
    border-color: transparent;
  }
}

/* Paper ----- */

.paperroot {
  background: light-dark(
    "#fff",
    var(--mantine-color-brown-6)
  );
}