.section {
  width: 100%;
  background: light-dark(
    var(--mantine-color-brown-1),
    var(--mantine-color-brown-6)
  );
}

.wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--viewport-padding);
}

.footer {
  font-size: var(--mantine-font-size-xs);
  padding-block: var(--mantine-spacing-xl) var(--mantine-spacing-lg);

  &-text {
    margin-bottom: 0.3em;
  }
}