.section {
  width: 100%;
  background: light-dark(
    var(--mantine-color-brown-1),
    var(--mantine-color-brown-6)
  );
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--viewport-padding);
}

.footer {
  font-size: var(--mantine-font-size-xs);
  padding: var(--mantine-spacing-xl) 0;

  &-text {
    margin-bottom: calc(var(--mantine-font-size-xs) / 3);
  }
}