.wrapper {
  position: relative;
}

.film {
  background: var(--mantine-color-brown-1);
  padding: var(--mantine-spacing-sm);
  box-shadow: var(--shadow);

  &-link {
    color: var(--mantine-color-gray-7);
    text-decoration: none;
  }

  &-image {
    border: 3px solid var(--mantine-color-gray-7);
  }

  &:hover {
    animation: tilt-shaking 0.3s;
  }
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mantine-color-gray-7);
  gap: var(--mantine-spacing-lg);
  margin-top: var(--mantine-spacing-xs);

  &-name {
    text-transform: uppercase;
    font-size: 1.4rem;
  }
}

.mark {
  margin-top: 0.5rem;
  padding: 0 var(--mantine-spacing-lg);

  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--mantine-spacing-lg);
    border-radius: var(--mantine-radius-lg);
    background: var(--background-menu);
    padding: 0.2rem;
    box-shadow: var(--shadow);
  }
}

@keyframes tilt-shaking {
  0%    { transform: rotate(0deg);  }
  25%   { transform: rotate(5deg);  }
  50%   { transform: rotate(0deg);  }
  75%   { transform: rotate(-5deg); }
  100%  { transform: rotate(0deg);  }
}