.playgroup-wrapper {
  margin: var(--mantine-spacing-lg) 0;
}

.sub-title {
  &-link {
    color: var(--mantine-color-text);
    text-decoration: none;
  }
}

.mark {
  color: var(--mantine-color-custom-0);
}

.grid,
.grid-valhalla {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @media (max-width: 500px) {
    gap: var(--mantine-spacing-xs);
  }

  @media (min-width: 500px) {
    gap: var(--mantine-spacing-md);
  }

  @media (min-width: 1080px) {
    gap: var(--mantine-spacing-lg);
  }
}