.playgroup-wrapper {
  margin: var(--mantine-spacing-lg) 0;
}

.sub-title {
  &-link {
    color: var(--mantine-color-text);
    text-decoration: none;
  }
}

.mark {
  color: var(--mantine-color-custom-0);
}

.grid,
.grid-valhalla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: var(--mantine-spacing-md);

  @media (max-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }
}