.form {
  &-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mantine-spacing-md);
  }
}

.input {
  &-search {
    flex: 1 1 auto;
    align-self: flex-start;
  }

  &-sort {
    align-self: flex-start;
  }

  &-date {
    align-self: flex-start;
    flex-basis: 10em;

    @media (max-width: 32em) {
      flex-basis: 8em;
    }
  }
}