.nav {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-lg);

  &-list {
    display: flex;
    gap: var(--mantine-spacing-sm);
    list-style-type: none;
    padding: 0;
  }

  &-item {
    padding-inline: var(--mantine-spacing-md);
    padding-block: 0.3rem;
  }

  &-link {
    font-weight: 600;
    color: var(--mantine-color-custom-7);
    text-decoration: none;

    &-active {
      font-weight: 600;
      color: var(--mantine-color-text);
      text-decoration: none;
    }

    &:hover {
      color: var(--mantine-color-custom-8);
    }
  }

  &-buttons {
    display: flex;
    gap: var(--mantine-spacing-xs);
  }
}