.wrapper {
  width: 100%;
  background: var(--background-menu);
}

.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0.4rem var(--mantine-spacing-xl);
}

.title {
  display: flex;
  align-items: center;
  color: var(--mantine-color-custom-7);
  text-decoration: none;

  &-text {
    font-size: var(--mantine-font-size-xl);
    padding-inline: var(--mantine-font-size-xs);

    &:hover {
      color: var(--mantine-color-custom-8);
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-lg);

  &-list {
    display: flex;
    gap: var(--mantine-spacing-sm);
    list-style-type: none;
    padding: 0;
  }

  &-item {
    padding-inline: var(--mantine-spacing-md);
    padding-block: 0.3rem;
  }

  &-link {
    font-weight: 600;
    color: var(--mantine-color-custom-7);
    text-decoration: none;

    &-active {
      font-weight: 600;
      color: var(--mantine-color-text);
      text-decoration: none;
    }

    &:hover {
      color: var(--mantine-color-custom-8);
    }
  }

  &-buttons {
    display: flex;
    gap: var(--mantine-spacing-xs);
  }
}