.section {
  width: 100%;
  background: light-dark(
    var(--mantine-color-brown-1),
    var(--mantine-color-brown-6)
  );
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--viewport-padding);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--mantine-spacing-md) / 2) 0;
}

.title {
  display: flex;
  align-items: center;
  text-decoration: none;

  &-text {
    font-size: var(--mantine-font-size-xl);
    padding: 0 var(--mantine-font-size-xs);

    @media (max-width: 30em) {
      display: none;
    }
  }
}

/* Nav menu + buttons ----- */

.links-wrapper {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-lg);
}

.header-nav {
  display: flex;
  gap: var(--mantine-spacing-md);

  @media (max-width: 42em) {
    display: none;
  }
}

.drawer-nav {
  display: flex;
  flex-direction: column;
  font-size: var(--mantine-font-size-xl);
  gap: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-lg);
}

.button {
  &-section {
    display: flex;
    gap: var(--mantine-spacing-sm);
  }
}

/* Nav links ----- */

.nav-link {
  font-weight: 600;
  text-decoration: none;

  &-active {
    font-weight: 600;
    color: var(--mantine-color-text);
    text-decoration: none;
  }
}

/* Smaller screens ----- */

.burger {
  @media (min-width: 42em) {
    display: none;
  }
}

