.no-margin {
  margin-bottom: 0;
}

.stats {
  &-container {
    padding-top: var(--mantine-spacing-lg);
  }
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-xl);
  margin-block: var(--mantine-spacing-lg);

  &-item {
    align-self: center;
  }
}