.wrapper {
  display: flex;
  gap: var(--mantine-spacing-lg);

  @media (max-width: 42em) {
    flex-direction: column;
  }
}

.left-section {
  flex: 3 1 auto;
}

.right-section {
  flex: 1 0 230px;

  @media (max-width: 42em) {
    align-self: flex-end;
    max-width: 230px;
  }
}